/* Configuración Global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFAFA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px; /* Asegura que el contenido no se superponga con el header */
}

/* Header */
.main-header {
    width: 100%;     /* Ocupa todo el ancho de la ventana */
    z-index: 1000;   /* Asegura que esté por encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0d4f1;
    padding: 10px 2px;
    flex-wrap: wrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); /* Añade una sombra para distinguirlo del contenido */
}

.scrolled-header {
    background-color: #030961; /* Cambia el color del header */
    transition: background-color 2s ease; /* Transición suave */
}

.logo-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;  /* Permite que el logo ocupe el espacio disponible */
}

.main-header .logo {
    height: 100px; /* Ajusta el tamaño del logo */
    max-width: 100%; /* Asegura que la imagen no se desborde */
    width: auto; /* Mantiene la proporción de la imagen */
    margin-right: 20px;
}

.botones {
    display: flex;
    gap: 10px;
}

.botones button {
    background-color: #004085;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 3rem;
}

/* Footer */
.main-footer {
    background-color: #b0d4f1;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Permite que el footer esté siempre al final */
}

/* Media Queries para Responsividad */
@media (max-width: 767px) {
    /* Header Adaptable */
    .main-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-header .logo {
        height: 30px; /* Ajusta el tamaño del logo en pantallas pequeñas */
    }

    .botones {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .botones button {
        width: 100%; /* Para botones en pantalla pequeña */
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Ajustes para pantallas medianas */
    .main-header {
        flex-direction: column;
        align-items: center;
    }

    .main-header .logo {
        height: 50px;
        margin-bottom: 10px;
    }

    .botones {
        gap: 15px;
    }
}
