/* Estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b0d4f1;
    padding: 10px 20px;
  }

/* Contenedor principal con imagen de fondo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


/* Contenedor */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8); /* Oscurece ligeramente el fondo */
}

.filtro{
    width: 40%;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 100px;
    margin-right: 10px;
  }

/* Caja de inicio de sesión */
.login-box {
    background-color: #b0d4f1;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 600px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.login-box h2 {
    color: #2a2a72;
    margin-bottom: 20px;
}

/* Campos de entrada */
input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    margin-top:40px ;
}

/* Botones */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.btn-back {
    background-color: white;
    color: #2a2a72;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login {
    background-color: #2a2a72;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Pie de página */
footer {
    justify-content: center;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8); /* Oscurece ligeramente el fondo */
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #333;
}

footer a {
    color: #b0d4f1;
    text-decoration: none;
}

.catalogo{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 3rem;
    background-color: rgba(0, 0, 0, 0.8); /* Oscurece ligeramente el fondo */
    padding: 1.5rem;
    box-sizing: border-box;
    max-height: calc(4rem * 10);
    overflow-y: auto; 
}

.card{
    background-color: #DBD3D3;
    border: .1rem solid #ccc;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .025rem .5rem rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card p{
    margin-bottom: .5rem;
}

.card bold{
    font-weight: 6000;
}

.card strong{
    color: #00008b;
}

.barra-busq{
    background-color: #b0d4f1;
}

.paginacion{
    text-align: center;
}

.card a{
    background-color: #00008b;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 1.5rem;
    border-radius: 1rem;
    font-weight: 300;
}

form button{
    width: 10%; 
    height: 1.9rem;
    background-color: #00008b;
    border-radius: 1rem;
    color: white;
    margin-bottom: .3rem;
    font-weight: 300;
}

.wrapper{
    width: 140px;
    height: 30px;
    background-color: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sub{
    border-right: 1px solid #aaa;
    padding-right: 8px;
    cursor: pointer;
}

.add{
    border-left: 1px solid #aaa;
    padding-left: 8px;
    cursor: pointer;
}

.value{
    font-size: 22px;
    font-weight: bold;

}

.card .anadir{
    background-color: #00008b;
    justify-content: space-evenly;
    color: black;
    align-items: center;
    display: flex;
}

.anadir{
    margin-top: 10;
    background-color: #00008b;  
    color: white;
    justify-content: space-evenly;
    border-radius: .50rem;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    text-align: center justify;
    width: fit-content;
    height: 1.5rem;
}

.tabla-pedido{
    margin-left: 100px;
    width: 80%;
    justify-items: center;
    height: 1.6rem;
    background-color: white;
}