<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Descuento - Genfarmex</title>
    <link rel="stylesheet" href="../static/css/inicio.css">
    
</head>
<body>
    <header class="header">
        <div class="logo">
          <img src="../static/img/LogoPrincipal.png" alt="Genfarmex Logo">
        </div>
        <nav class="navbar">
          <a href="#">Información</a>
          <a href="#">Ubicación</a>
          <a href="#">Contactos</a>
        </nav>
      </header>
    <div class="container">
        <div class="logo">
            <img src="../static/img/letrasAzules.png" alt="Genfarmex" class="logo-img">
        </div>
        <div class="login-box">
            <h2>Crear descuento</h2>
            <form action="crearDescuento.php" method="POST">
                <input type="text" name="nombre" placeholder="Nombre del Descuento" required>
                <input type="number" step="0.01" name="porcentaje" placeholder="Porcentaje" required>
                <input type="date" name="fechaCreacion" required>
                <button type="submit">Crear Descuento</button>
            </form>
        </div>
        
    </div>
    <footer>
        <p>Copyright © 2022 Genfarmex - Todos los derechos reservados.</p>
        <a href="#">Aviso de Privacidad</a>
    </footer>
    <script defer src="../static/js/inicio.js"></script>
</body>
</html>
